[RFC8555] HTTP-01 Challenge

### Feature Overview

Support identifier authorization using HTTP-01 challenge, as specified in [RFC8555 Section 8.3](https://www.rfc-editor.org/rfc/rfc8555.html#section-8.3)

### Alternatives Considered

_No response_

### Additional Context

_No response_